.ls{
  background-color: #292929;
  color: white;
  height: 85vh;
}
.Logo{
  max-width: 130px;
}
.ls-top{
  padding: 5px;
  margin: 10px;
}

.ls-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.menu img{
  max-height: 20px;
  padding-top: 2px;
  
  cursor: pointer;
}
.menu img:hover{
  opacity: 0.6;
}
.ls-search{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px 12px;
  margin-top: 20px;
  background-color: 	#808080;
}
.ls-search img{
  width: 16px;
  cursor: pointer;
}
.ls-search input{
  background: transparent;
  background-color: none;
  
  border: none;
  outline: none;
  font-size: 15px;
  color: 	white;
  border-radius: 3px;
}
.ls-search input::placeholder{
  color: 	#ffa31a;
}

.ls-list{
  display: flex;
  flex-direction: column;
  height: 78%;
  overflow-y: scroll;
}
.frnds img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}
.frnds{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 10px;
  cursor: pointer;
  font-size: 15px;
  color: #ffa31a;
  margin-left: 0px;
}
.frnds div{
  display: flex;
  flex-direction: column;
}
.frnds span{
  font-size: 10px;
  color: #808080;
}
.frnds span:hover{
  font-size: 10px;
  color: #808080;
}

.frnds:hover{
  background-color: aliceblue;

}

.ls-nav .menu{
  position: relative;
  padding: 10px 0px;
}

.menu .sub-menu{
  position:absolute;
  top: 100%;
  right: 0;
  width: 130px;
  padding: 10px;
  border-radius: 5px;
  background-color: 	#1b1b1b;
  color: 	#ffa31a;
  display: none;
}

.sub-menu p{
  cursor: pointer;
}

.menu:hover .sub-menu{
  display: block;
}

.sub-menu {
  display: none;
}

.sub-menu.active {
  display: block;
}
